<% layout('./layouts/boilerplate') %>
<body>
    <header>
        <div id="headerdiv">
            <a class="btn  btn-outline-danger" href="/home/edit/:id" role="button"><i class="fa-light fa-pen"></i></a>
        </div>
    </header>
    <main>
        <div id="maindiv">
            <h2><%= result.title %></h2><br>
            <p><%= result.description %></p><br>
            <img src="<%= result.image.url %>" alt="<%= result.title %>" /><br>
            <p>Price: $<%= result.price %></p><br>
            <p>Location: <%= result.location %></p><br>
            <p>Country: <%= result.country %></p><br>
           
        </div>
    </main>
</body>
