<% layout('./layouts/boilerplate') %>
<body>
    <header>
        <div id="headerdiv">
            <!-- <span> home </span>  -->
            <!-- <button><a href="/home/add">add new data</a></button> -->
        </div>
    </header>
    <main>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 row-cols-xs-1">
        <% listings.forEach((listing) => { %>
            <a href="/home/details/<%= listing._id %>" class="listing-underlines">
                <div class="card ">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>" style="height: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title"><strong><%= listing.title %></strong></h5>
                      <span class="card-text"><%= listing.location %></span>,
                      <span class="card-text"><%= listing.country %></span>
                      <p class="card-text"> <%= listing.description%></p>
                      <p class="card-text " style="font-style: italic;"> Price: $<%= listing.price %>/night</p>   
                    </div>
                </div>
            </a>
        <% }) %>
        </div>
    </main>
 
    <!-- <script>
        const deleteButtons = document.querySelectorAll('.delete-btn');
        deleteButtons.forEach(btn => {
            btn.addEventListener('click', async (event) => {
                if (confirm('Are you sure you want to delete this listing?')) {
                    const listingId = btn.getAttribute('data-listing-id');
                    console.log(listingId);
                    const response = await fetch(`/home/delete/:${listingId}`, { method: 'DELETE' });
                    if (response.ok) {
                        console.log('Listing deleted successfully.');
                        window.location.reload(); // Refresh the page
                    } else {
                        console.error('Error deleting listing:', response.statusText);
                    }
                }
            });
        });

    </script> -->
</body>
